@define-color font-active rgba(24, 185, 131, 1);
@define-color font rgba(140, 242, 208, 1);
@define-color background rgba(0, 56, 64, 0.99);
@define-color underline rgba(5, 210, 142, 1);
* {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    font-family: JetBrainsMono Nerd Font;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: @font;
}

#outer-box {
    background-color: @background;
    border-radius: 20px;
}

#entry,
#input {
    margin: 0 20px 0 20px;
}

#input {
    margin-top: 5px;
    margin-bottom: 13px;
    padding: 10px 5px 2px 10px;
    border-bottom: 2px solid @underline;
    border-radius: 0;
}

#input > image:first-child {
    margin-right: 10px;
}

#entry {
    margin-top: 3px;
}

#text {
    margin-left: 8px;
}

#text:selected {
    color: @font-active;
}
