@define-color wild #a3d2bc;
@define-color black #090c0c;
@define-color crayola #18B983;
@define-color american #394260;
@define-color charleston #212736;
@define-color gunmetal #1d2230;
@define-color platinum #e3e5e5;
@define-color white #ffffff;
@define-color bg rgba(0, 0, 0, 0.85);

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 18px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @crayola;
  border-radius: 1rem;
  background-color: @gunmetal;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @gunmetal;
  /*animation: fadeIn 0.5s ease-in-out both;*/
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border-radius: 1rem;
  border-color:  @american;
  color: @wild;
  background-color: @base;
  box-shadow: none;
}

#input image {
    border: none;
    color: @white;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @wild;
}

#entry {
  background-color: @base;
}

/*#entry arrow {
  border: none;
  color: @platinum;
}*/

/* Selected Entry */
#entry:selected {
  border: none;
  outline: none;
}

#entry:selected #text {
  color: @crayola;
  outline: none;
}

#entry:drop(active) {
  background-color: @american!important;
}