@import "tokyo_dark_green.css";

* {
    font-family:  Nerd Font;
    font-size: 17px;
    min-height: 10px;
    border-radius: 0;
    border: none;
}

#waybar {
    color: @crayola;
    background: transparent;
    margin: 5px 5px;
    }


/* left workspace */
#workspaces {
    border-radius: 1rem;
    background-color: @background;
    margin-left: 20px;
    margin-top: 0.5rem;
}

#workspaces button {
    color: @wild;
    border-radius: 1rem;
    padding: 0.4rem;
    }

#workspaces button.active {
color: @crayola;
border-radius: 1rem;
}

#workspaces button.urgent {
    background-color: @gunmetal;
    border-radius: 1rem;
}

#custom-power,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#workspaces {
    margin-top: 0.5rem;
    padding: 0px 8px;
    background-color: @background;
}

#network {
    padding-left: 12px;
    border-radius: 1rem 0px 0px 1rem;
}

#custom-power {
    border-radius: 0px 1rem 1rem 0px;
    margin-right: 20px;
    padding-right: 9px;
}

#custom-music {
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0px 15px 0px 15px;
}

#tray {
    border-color: transparent;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-right: 10px;
    margin-top: 0.5rem;
    padding: 0px 10px 0px 10px;
    background-color: transparent;
}
 
#tray menu {
    background-color: @gunmetal;
    border-radius: 1rem;
    border-color: transparent;
}

#temperature.critical {
    background-color: darkred;
}
