@import "colors.scss";

* {
    font-family: Hack Nerd Font Propo;
    font-size: 17px;
    color: @font;
    min-height: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

/* MODULES */

/*  Rounds each modules borders */
.modules-left,
.modules-center,
.modules-right {
    border-radius: 20px;
    background-color: @background;
    margin-top: 10px;
}

.modules-left {
    padding: 0 6px;
}

/* GTK 3.0 doesn't have :empty so i'm tying the background color to the children */
.modules-center {
    background-color: transparent;
}

.modules-center > widget > * {
    background-color: @background;
}

.modules-center > widget > *:first-child {
    padding-left: 15px;
    border-radius: 20px 0 0 20px;
}

.modules-center > widget > *:last-child {
    padding-right: 15px;
    border-radius: 0 20px 20px 0;
}

.modules-center > widget > *:only-child {
    border-radius: 20px;
}

.modules-right {
    padding: 0 8px 0 6px;
}

.modules-right > widget > * {
    padding: 0 8px;
}
/* END MODULES */

/* BUTTON */
button {
    border-radius: 20px;
    padding: 5.5px;
}

button label {
    color: @inactive;
}

button.active label {
    color: @font;
}
/* END BUTTON */

/* TRAY MENU */
#tray menu {
    background-color: @menu-bg;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.98);
}

#tray decoration {
    box-shadow: none;
}

#tray menuitem:hover {
    background-color: @active-menu;
}

#tray separator {
    border-left: 1px solid rgba(0, 0, 0, 0.98);
    border-right: 1px solid rgba(0, 0, 0, 0.98);
    margin: 3px 0;
    padding: 0;
    min-height: 1px;
}

/* END MENU */
