@define-color inactive rgba(163, 210, 188, 1);
@define-color font rgba(24, 185, 131, 1);
@define-color menu-bg rgba(29, 34, 48, 0.98);
@define-color separator rgba(62, 71, 96, 0.98);
@define-color white rgba(0, 0, 0, 1);
@define-color active-menu rgba(45, 52, 73, 0.98);
@define-color background rgba(0, 0, 0, 0.85);
